<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "New Item" %>
<% end %>

<% content_for :breadcrumb do %>

  <%= link_to "Failure Modes", discrepancy_categories_path, class: "breadcrumb__leaf" %>
  <%= link_to "Items", discrepancy_category_discrepancies_path(@discrepancy_category), class: "breadcrumb__leaf" %>
  <%= link_to "New Item", new_discrepancy_category_discrepancy_path, class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="panel area-main area-main--half">

  <%= render 'form', discrepancy: @discrepancy, discrepancy_category: @discrepancy_category || @discrepancy.discrepancy_category %>

</section>
