<% content_for :breadcrumb do %>
  <%= link_to "Stations", station_activities_path(@activity.station), class: "breadcrumb__leaf" %>
  <%= link_to "Workload", activity_path(@activity), class: "breadcrumb__leaf" %>
  <%= link_to "Task", activity_task_path(@activity, @task), class: "breadcrumb__leaf" %>
  <%= link_to "New Task Action", new_activity_task_action_path(@activity, task_id: @task.id), class: "breadcrumb__leaf" %>
<% end %>

<section class="activity-grid--left hide-on-mobile panel">
  <%= render "activities/items", activity: @activity %>
</section>

<section class="activity-grid--right panel">
  <%= render "shared/flash" %>

  <%= render 'form', activity: @activity, task: @task, task_action: @task_action %>
</section>
