<% content_for :breadcrumb do %>
  <%= link_to "Stations", station_activities_path(@activity.station), class: "breadcrumb__leaf" %>
  <%= link_to "Workload", activity_path(@activity), class: "breadcrumb__leaf" %>
  <%= link_to "Task", activity_task_path(@activity, @task_action.task), class: "breadcrumb__leaf" %>
  <%= link_to "Task Action", activity_task_action_path(@activity, @task_action), class: "breadcrumb__leaf" %>
<% end %>

<section class="activity-grid--left hidden md:block panel">
  <%= render "activities/items", activity: @activity %>
</section>

<section class="activity-grid--right panel">
  <%= render "shared/flash" %>

  <div class="flex mb-6">
    <div>
      <%= render "shared/back_link", link_text: "Task: #{@task_action.task.task_template.name}", link_route: [@activity, @task_action.task], truncate: true %>
    </div>

    <div class="flex-grow flex justify-end">
      <%= link_to edit_activity_task_action_path(@activity, @task_action) do %>
        <span class="ml-4 flex text-sm text-gray-600 font-semibold items-center">
          <svg class="h-4 w-4 mr-1 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.3 3.7l4 4L4 20H0v-4L12.3 3.7zm1.4-1.4L16 0l4 4-2.3 2.3-4-4z"/>
          </svg>
          <%= t :edit %>
        </span>
      <% end %>

      <%= link_to activity_task_action_path(@activity, @task_action), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="ml-4 flex text-sm text-gray-600 font-semibold items-center">
          <svg class="h-4 w-4 mr-1 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M6 2l2-2h4l2 2h4v2H2V2h4zM3 6h14l-1 14H4L3 6zm5 2v10h1V8H8zm3 0v10h1V8h-1z"/>
          </svg>
          <%= t :delete %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="flex items-start">
    <div class="align-text-top text-gray-800">
      <span class="text-xl font-semibold block leading-none"><%= @task_action.logbook_text %></span>
      <span class="text-sm text-gray-500"><%= @task_action.completed_at %></span>
    </div>

    <div class="pl-2 align-text-top flex-grow text-right">
      <span class="text-sm whitespace-no-wrap"></span>
      <span class="text-sm block leading-none text-gray-500 whitespace-no-wrap"><%= @task_action.id %></span>
    </div>
  </div>

  <table class="mt-6 w-full text-sm border-gray-200 border-t-2">
    <tr class="border-none">
      <td class="py-2 pr-6 text-gray-600">Performed By:</td>
      <td class="py-2 pr-6"><%= @task_action.users.map(&:full_name).sort.join(", ") %></td>
    </tr>

    <tr class="border-none">
      <td class="py-2 pr-6 text-gray-600">Percentage Completed:</td>
      <td class="py-2 pr-6"><%= @task_action.completion_percentage %>%</td>
    </tr>
  </table>

</section>
