<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cloud, label: "Product Allotment" %>
<% end %>

<% content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
  <%= link_to @product_allotment.product.name, product_allotment_path(@product_allotment), class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/airline_nav', airline: @product_allotment.fleet.airline %>
<% end %>

<section class="panel area-main area-main--half">
  <%= render "shared/flash" %>

  <p>
    <strong>Product:</strong>
    <%= @product_allotment.product.name %>
  </p>

  <p>
    <strong>Aircraft config:</strong>
    <%= @product_allotment.fleet.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @product_allotment.quantity %>
  </p>

  <%= link_to 'Edit', edit_product_allotment_path(@product_allotment) %> |
  <%= link_to 'Back', product_allotments_path(@product_allotment.fleet) %>

</section>
