<% cache [ @deferral, parent ] do %>

  <section class="area area-main panel area-main--half">
    <%= render "shared/flash" %>
    <%= render "shared/back_link", link_text: "Back to deferrals", link_route: [parent, :deferrals], truncate: false %>

    <div class="flex items-start">
      <div class="align-text-top text-gray-800">
        <span class="text-xl font-semibold block leading-none"><%= @deferral.logbook_text %></span>
        <span class="text-sm text-gray-500">Raised: <%= @deferral.raised_at %></span>
      </div>

      <div class="pl-2 align-text-top flex-grow text-right">
        <span class="text-sm whitespace-no-wrap"><%= @deferral.logbook_reference %></span>
        <span class="text-sm block leading-none text-gray-500 whitespace-no-wrap"><%= @deferral.id %></span>
      </div>
    </div>

    <table class="mt-6 w-full text-sm border-gray-200 border-b-2 border-t-2">
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= t :seats_impacted %> (<%= @deferral.impacted_seat_count %>):</td>
        <td class="py-2 pr-6"><%= @deferral.seats_impacted %></td>
      </tr>
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= t :discrepancy %>:</td>
        <td class="py-2 pr-6"><%= @deferral.discrepancy.name %></td>
      </tr>
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= t :confirmed %>:</td>
        <td class="py-2 pr-6"><%= boolean_checkmark @deferral.confirmed %></td>
      </tr>
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= t :inbound_deferred %>:</td>
        <td class="py-2 pr-6"><%= boolean_checkmark @deferral.inbound_deferred %></td>
      </tr>
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= t :cid %>:</td>
        <td class="py-2 pr-6"><%= boolean_checkmark @deferral.cid %></td>
      </tr>
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= t :raised_in_work_pack %>:</td>
        <% if @deferral.activity %>
          <td class="py-2 pr-6"><%= link_to @deferral.activity_id, activity_path(@deferral.activity), class: "underline text-blue-600" %></td>
        <% else %>
          <td class="py-2 pr-6">No Work Pack</td>
        <% end %>
      </tr>
      <tr class="border-none">
        <td class="py-2 pr-6 text-gray-600"><%= "Status" %>:</td>
        <td class="py-2 pr-6"><%= fault_status @deferral %></td>
      </tr>
    </table>

    <div class="flex mt-8 mb-1 items-bottom">
      <h2 class="font-semibold">Corrective Actions</h2>
    </div>
    
    <%= render partial: "deferrals/corrective_action_item", collection: @deferral.corrective_actions.chronilogical, as: :corrective_action, locals: { parent: parent } %>

  </section>

<% end %>
