<%= form_with(model: stock_location, local: true) do |form| %>
  <% if stock_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_location.errors.count, "error") %> prohibited this stock_location from being saved:</h2>

      <ul>
      <% stock_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :stock_location_name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :stock_location_category %>
  </div>

  <div class="field">
    <%= form.label :station_id %>
    <%= form.text_field :station_id, id: :stock_location_station_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
