<% content_for :breadcrumb do %>
  <%= link_to "Stations", station_activities_path(@activity.station), class: "breadcrumb__leaf" %>
  <%= link_to "Workload", activity_path(@activity), class: "breadcrumb__leaf" %>
  <%= link_to "Fault", activity_fault_path(@activity, @corrective_action.fault), class: "breadcrumb__leaf" %>
  <%= link_to "Corrective Action", activity_fault_corrective_action_path(@activity, @fault, @corrective_action), class: "breadcrumb__leaf" %>
  <%= link_to "Edit Corrective Action", edit_activity_fault_corrective_action_path(@activity, @fault, @corrective_action), class: "breadcrumb__leaf" %>
<% end %>

<section class="activity-grid--left hidden md:block panel">
  <%= render "activities/items", activity: @activity %>
</section>

<section class="activity-grid--right panel">
  <%= render "shared/flash" %>

  <div class="flex mb-6">
    <div>
      <%= render "shared/back_link", link_text: "CA: #{@corrective_action.logbook_text}", link_route: [@activity, @fault, @corrective_action], truncate: true %>
    </div>
  </div>

  <%= render 'form', corrective_action: @corrective_action, activity: @activity %>

</section>
