<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_cog, label: "Settings" %>
<% end %>

<% content_for :breadcrumb do %>
  <span class="breadcrumb__leaf--active">Airports</span>
<% end %>

<% content_for :nav do %>
  <% render 'shared/config_nav' %>
<% end %>

<section class="area-main">
  <%= render "shared/flash" %>

  <div class="table" data-controller="table">
    <div class="table-head">
      <div class="table-head__checkbox-cell hidden"><input type="checkbox" class="form-checkbox" data-action="change->table#toggleAllCheckboxes" data-target="table.tableCheckbox"></div>
      <div class="table-head__cell"><%= sortable 'iata_code' %></div>
      <div class="table-head__cell hidden lg:table-cell"><%= sortable 'icao_code' %></div>
      <div class="table-head__cell"><%= sortable 'name' %></div>
      <div class="table-head__cell hidden lg:table-cell"><%= sortable 'country' %></div>
      <div class="table-head__cell hidden lg:table-cell"><%= sortable 'city' %></div>
      <div class="table-head__cell text-right"><%= "Actions" %></div>
    </div>

    <%= render(partial: :airport, collection: @airports, cached: true) if @airports.present? %>

  </div>

  <%= render('shared/empty_table_state', msg: "Found no airports.", helper: "#{link_to 'Try adding new airport', new_airport_path, class: 'underline text-thales-light-blue font-semibold'}".html_safe) if @airports.blank? %>

  <%= will_paginate @airports, class: "pagination"%>

</section>

<% content_for :search_action, airports_path %>

<% content_for :buttons do %>
  <%= render 'layouts/footer_button', icon: :icon_add_outline, label: "New Airport", action: new_airport_path %>
<% end %>
