<% content_for :page_title do %>
  <%= render 'layouts/page_title', icon: :icon_aircraft, label: @station.name %>
<% end %>

<% content_for :breadcrumb do %>
  <%= render 'stations/breadcrumb' %>
  <%= link_to "Users", station_users_path(@station), class: "breadcrumb__leaf" %>
<% end %>

<% content_for :nav do %>
  <% render 'shared/station_nav', station: @station %>
<% end %>

<section class="area-main" data-controller="turbolinks">
  <%= render "shared/flash" %>

  <div class="table" data-controller="table">
    <div class="table-head">
      <div class="table-head__checkbox-cell hidden"><input type="checkbox" class="form-checkbox" data-action="change->table#toggleAllCheckboxes" data-target="table.tableCheckbox"></div>
      <div class="table-head__cell"><%= sortable 'user.full_name', 'name' %></div>
      <div class="table-head__cell"><%= sortable 'job_title' %></div>
      <div class="table-head__cell hidden lg:table-cell"><%= sortable 'email' %></div>
      <div class="table-head__cell hidden lg:table-cell"><%= 'phone' %></div>
      <div class="table-head__cell text-right"><%= "Actions" %></div>
    </div>

    <%= render(partial: :user, collection: @users, cached: true) if @users.present? %>

  </div>

  <%= render('shared/empty_table_state', msg: "Found no users.", helper: "#{link_to 'Try inviting new user', new_station_user_routing_path, class: 'underline text-thales-light-blue font-semibold'}".html_safe) if @users.blank? %>

  <%= will_paginate @users, class: "pagination"%>

</section>

<% content_for :search_action, station_users_path %>

<% content_for :buttons do %>
  <%= render 'layouts/footer_button', icon: :icon_user, label: "Inactive Users", action: archived_station_users_path(@station) %>
  <%= render 'layouts/footer_button', icon: :icon_add_outline, label: "Invite User", action: new_station_user_routing_path %>
<% end %>
