<%= form_with(model: repair_order, local: true) do |form| %>
  <% if repair_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair_order.errors.count, "error") %> prohibited this repair_order from being saved:</h2>

      <ul>
      <% repair_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :origin_stock_location_id %>
    <%= form.number_field :origin_stock_location_id %>
  </div>

  <div class="field">
    <%= form.label :destination_stock_location_id %>
    <%= form.number_field :destination_stock_location_id %>
  </div>

  <div class="field">
    <%= form.label :part_transaction_id %>
    <%= form.number_field :part_transaction_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
