<% cache stock_item do %>
  <tr class="">
    <td class=""><input id="checkBox" type="checkbox"></td>
    <td class="">10th Jan 2012</td>
    <td class=""><%= stock_item.product.name %></td>
    <td class=""><%= stock_item.product.part_number %></td>
    <td class=""><%= stock_item.serial_number %></td>
    <td class=""><%= stock_item.model_numbers %></td>
    <td class=""><%= stock_item.revision %></td>
    <td class=""><%= image_tag "arrow-right.png", width: "10px" %></td>
  </tr>
<% end %>
