<div data-controller="deferral">

  <%= form_with scope: :deferral_action, url: (deferral_action.persisted? ? activity_fault_deferral_action_path(activity, fault, deferral_action) : activity_fault_deferral_actions_path(activity, fault)), method: deferral_action.persisted? ? :patch : :post, local: true do |form| %>
    <%= render "shared/form_errors", obj: deferral_action %>

    <div class="form-grid">

      <div class="form-grid--span datepicker-container">
        <%= form.label :job_started_at %>
        <%= form.text_field :job_started_at, class: "form-input block w-full form_datetime", start_year: activity.try(:boarded_at).try(:year), readonly: true, required: true %>
      </div>

      <div class="field">
        <%= form.label :performed_by_id, "Deferred By" %>
        <%= form.collection_select :performed_by_id, activity.station.users.unlocked, :id, :full_name, {prompt: '-- Choose Tech --', selected: Current.user.id}, {required: true, class: "form-select block w-full select-filter"} %>
      </div>

      <div class="field">
        <%= form.label :mel_category %>
        <%= form.select :mel_category, ['A', 'B', 'C', 'D'], {prompt: '-- Choose MEL Category --'}, required: true, class: "form-select block w-full select-filter" %>
      </div>

      <div class="form-grid--span field discovered">
        <%= form.label :opdef, 'Operational Deficiency' %> <br />

        <%= form.radio_button :opdef, true, value: true, class: "form-radio h-5 w-5" %>
        <%= label :opdef, "Yes", value: true %>

        <%= form.radio_button :opdef, false, value: false, checked: true, required: true, class: "form-radio h-5 w-5" %>
        <%= label :opdef, "No", value: false %>
      </div>

      <div class="form-grid--span field">
        <%= form.label :document_reference %>
        <%= form.text_field :document_reference, required: true, class: "form-input block w-full" %>
      </div>

      <div class="field">
        <%= form.label :defer_reason_id, "Defer Reason" %>
        <%= form.collection_select :defer_reason_id, DeferReason.all, :id, :name, {prompt: '-- Choose Defer Reason --'}, {required: true, class: "form-select block w-full select-filter", data: { target: "deferral.deferReasonSelect", action: "deferral#deferReasonSelectChanged" } } %>
      </div>

      <div class="field" data-target="deferral.product" data-url="<%= parts_required_activity_fault_deferral_actions_path %>" data-product_id="<%= deferral_action.product_id %>">
        <%= form.label :product_id, "PN Needed" %>
        <%= form.select :product_id, options_for_select([]), {prompt: '-- Select Part Number --'}, class: "form-select block w-full select-filter", data: { target: "deferral.productSelect" } %>
      </div>

      <div class="form-grid--span field">
        <%= form.label :logbook_text %>
        <%= form.text_area :logbook_text, required: true, class: "form-textarea block w-full" %>
      </div>

      <%= form.hidden_field :maintenance_action_id, value: MaintenanceAction.find_by_name("defer".upcase).id %>
      <%= form.hidden_field :fault_id, value: deferral_action.fault_id || fault.id %>

    </div>

    <div class="float-right">
      <%= form.submit 'Submit', class: "px-5 py-2 rounded bg-thales-light-blue text-white font-semibold" %>
    </div>

  <% end %>

</div>
