<% content_for :breadcrumb do %>
  <%= render 'faults/breadcrumb' %>
  <span class="breadcrumb__leaf">Deferral</span>
<% end %>

<section class="activity-grid--left hide-on-mobile panel">
  <%= render "activities/items", activity: @activity %>
</section>

<section class="activity-grid--right panel">
  <%= render "shared/flash" %>

  <div class="flex mb-6">
    <div>
      <%= render "shared/back_link", link_text: "Back", link_route: activity_fault_deferral_action_path(@activity, @fault, @deferral_action), truncate: false %>
    </div>
  </div>

  <%= render 'form', activity: @activity, fault: @fault, deferral_action: @deferral_action %>

</section>
